.hamburger {
  padding: var(--padding, 15px);
  background-color: var(--bg-color, transparent);
}
.hamburger-box {
  width: var(--box-width, 40px);
  height: var(--box-height, 24px);
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: var(--layer-bg-color, #000);
  width: var(--layer-width, 40px);
  height: var(--layer-height, 4px);
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--active-layer-bg-color, var(--layer-bg-color, #000));
}
